################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NET8/16_Repo_GenericFim/16_Repo_GenericFim/16_Repo_GenericFim
